.activity-page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 5vh;
}

.activity-holder-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5vh;

    h1 {
        margin: 0px;
    }

    #my-activity-view-date-display {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: #555555;
        }
    }

    button {
        background-color: var(--theme-color);
        color: white;
        font-size: 1.125rem;
        cursor: pointer;
    }
}

.activity-display-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .display-container {
        border-radius: 0px;
        box-shadow: none;
    }

    .activity-no-activity {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: var(--sub3-theme-color);
    }

    .activity-has-activity {
        height: 100%;
        background-color: var(--sub3-theme-color);

        table {
            width: 100%;
            border-collapse: collapse;

            th, td {
                width: 25%;
            }

            th {
                padding-bottom: .5vh;
            }

            td {
                text-align: center;
                padding-top: .5vh;
                padding-bottom: .5vh;

                &:last-child {
                    text-align: right;
                }
            }

            tbody tr {
                transition: .25s;
                cursor: pointer;
            }

            tbody tr:hover {
                font-size: 1.125rem;
            }
        }
    }
}

.my-activity-form-popup {
    .popup {
        h1 {
            margin-top: 0px;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;

            width: 60%;
            margin-left: 20%;
            margin-right: auto;
        }

        .my-activity-form-field {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1vh;
            
            label {
                justify-self: flex-start;
                align-self: center;
            }

            input, select {
                justify-self: flex-end;
                align-self: center;
            }
        }

        button {
            font-size: 1.125rem;
            margin-top: 2vh;
            align-self: center;
        }
    }
}