.activity-page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40vh auto;
    gap: 5vh;
}

.activity-holder-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5vh;

    h1 {
        margin: 0px;
    }

    button {
        margin: 0px;
        padding: 0.5vh 1.5vw;
        border-radius: 20px;
        border: 0px;

        background-color: var(--theme-color);
        color: white;
        font-size: 1.125rem;
        cursor: pointer;
    }
}

.linked-cards-display-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .activity-no-linked-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: var(--sub3-theme-color);
        box-shadow: 5px 5px 5px 5px var(--sub3-theme-color);
    }

    .activity-has-linked-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1vw;
        height: 100%;
        overflow: auto;
        background-color: var(--sub3-theme-color);
        box-shadow: 5px 5px 5px 5px var(--sub3-theme-color);
    }
}

.activity-display-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .activity-no-activity {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: var(--sub3-theme-color);
        box-shadow: 5px 5px 5px 5px var(--sub3-theme-color);
    }

    .activity-has-activity {
        height: 100%;
        background-color: var(--sub3-theme-color);
        box-shadow: 5px 5px 5px 5px var(--sub3-theme-color);

        table {
            width: 100%;
        }
    }
}

.linked-cards-form-popup {
    .popup {
        h1 {
            margin-top: 0px;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            margin-top: 1.5vh;

            input {
                background-color: white;
                border: 1px solid black;
                border-radius: 10px;
                height: 1.5rem;
                width: 50%;
                margin-top: 1vh;
            }

            button {
                margin: 0px;
                margin-top: 1.5%;
                padding: 0.5vh 1.5vw;
                border-radius: 20px;
                border: 0px;

                background-color: var(--theme-color);
                color: white;
                font-size: 1.125rem;
                cursor: pointer;
            }
        }
    }
}

.my-activity-form-popup {
    .popup {
        h1 {
            margin-top: 0px;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;

            width: 60%;
            margin-left: 20%;
            margin-right: auto;
        }

        .my-activity-form-field {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1vh;
            
            label {
                justify-self: flex-start;
                align-self: center;
            }

            input, select {
                justify-self: flex-end;
                align-self: center;
            }
        }

        button {
            margin: 0px;
            margin-top: 1.5%;
            padding: 0.5vh 1.5vw;
            border-radius: 20px;
            border: 0px;

            background-color: var(--theme-color);
            color: white;
            font-size: 1.125rem;
            cursor: pointer;
            margin-top: 2vh;
            align-self: center;
        }
    }
}