.budget-page{
    display:grid;
    grid-template-columns: 1fr 5.5fr;
    background-color: rgb(235, 242, 233);
}

.budget-body{
    display:grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 20px 1px;
    margin-left: calc(var(--sidebar-width));
    width: calc(100vw - var(--sidebar-width) - 8%);
}

.goals{
    font-size: 25px;
}

@media screen and (min-width: 1300px) {
    .category {
        font-size: 25px; /* Increase font size for larger screens */
    }
}

.progress-tracker{
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px 1px 1px rgb(206, 205, 205);
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    grid-column-start: 1;
    grid-column-end: 4;
}

.budget-summary{
    background-color: white;
    border-radius: 20px;
    overflow-y: auto;
    margin-bottom: 8%;
    box-shadow: 1px 2px 1px 1px rgb(206, 205, 205);
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 3%;
    margin-right: 3%;
}

.budget-summary > h1{
    font-size: 20px;
    margin-left: 3.5%;
}

.budget-category{
    list-style-type: none;
 
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.budget-category > p{
    margin-left: 1.5%;
}
.categories{
    display:flex;
    justify-content:space-between ;
    flex-direction: column;
    margin-left: 2.5%;
}

.total-bar{
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    margin-left: 14px;
    width: 95%;
    height: 50%;
}

.progress-bar{
    background-color: green;
    border-radius: 5px;
    width: 50%;
    height: 50%;
}

.goals{
    font-size: 24px;
    margin-left: 3%;
    color:  rgb(81, 130, 81);
}

.budget-category-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3.5%;
    margin-top: 1%;
}

.budget-category-header > h1{
    color:  rgb(81, 130, 81);
    font-size: 20px;
}

#add-category {
    cursor: pointer;
    background-color:  rgb(81, 130, 81);
    color: white;
    border-radius: 24px;
    border: none;
    padding: 7px 10px;
}


.category-button{
    margin-right: 3.5%;
}

#category-form-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#category-form-container{
    background-color: rgb(255, 255, 255);
    grid-row-start: 2;
    width: 40%;
    height:fit-content;
    margin-left: 30%;
    margin-top: 11%;
    border-radius: 15px;
    box-shadow: 1px 2px 1px 1px rgb(206, 205, 205);
    top:10px;
    padding-bottom: 15px;
}

.choices{
    background-color: rgb(235, 242, 233);
    width: 120px;
    border-radius: 10px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.format-option-pair{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0% 0% 5% 5%;
}

.budget-popup-label{
    margin-right: 10px;
}

.popup-submit{
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgb(81, 130, 81);
    color: white;
    cursor: pointer;
    /* margin: 8% 0 5% 5%; */
}

.popup-submit-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8% 30% 0 30%;
}

.popup-exit {
    border:none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.popup-exit:hover {
    background-color: rgb(193, 193, 193); /* Example background color on hover */
  }

  .popup-submit:hover{
    background-color: rgb(69, 111, 69);
  }

  #add-category:hover{
    background-color: rgb(69, 111, 69);
  }