.dash-container{
    display: grid;
    grid-template-columns: 5.5fr;
    background-color: rgb(235, 242, 233);

    margin-left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
}

.dashboard-body{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    margin: 2.5% 2.5%;
}

.pie-header{
    margin-left: 5%;
    color:  rgb(81, 130, 81);
    font-weight: bold;
}

.graph{
    background-color: white;
    border-radius: 25px;
    grid-column-start: 1;
    grid-column-end: 4;
    box-shadow: 1px 2px 1px 1px rgb(206, 205, 205);

}

.pie-chart{
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 2px 1px 1px rgb(206, 205, 205);
}

.line-graph{
    background-color:white;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    border-radius: 25px;
    box-shadow: 1px 2px 1px 1px rgb(206, 205, 205);

}

.spent{
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

.category1{
    background-color: white;
    border-radius: 25px;
    justify-content: flex-start;
    height: 45%;
    box-shadow: 1px 2px 1px 1px rgb(206, 205, 205);
}

.category2{
    background-color: white;
    border-radius: 25px;
    justify-content: flex-end;
    height: 45%;
    box-shadow: 1px 2px 1px 1px rgb(206, 205, 205);
}

.category{
    font-size: 16px;
    margin-left: 5%;
}

@media screen and (min-width: 1300px) {
    .category {
        font-size: 25px; /* Increase font size for larger screens */
    }
}

.cost{
    margin-left: 5%;
    font-size: 25px;
}

@media screen and (min-width: 1300px) {
    .cost {
        font-size: 40px; /* Increase font size for larger screens */
    }
}