.dash-container{
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    background-color: rgb(235, 242, 233);

}

.dashboard-body{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    margin: 2.5% 2.5%;
}


.graph{
    background-color: pink;
    border-radius: 25px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.pie-chart{
    background-color: pink;
    border-radius: 25px;
}

.line-graph{
    background-color:pink;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;

}

.spent{
    background-color: pink;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

.category1{
    background-color: purple;
    border-radius: 25px;
    justify-content: flex-start;
    height: 45%;

}

.category2{
    background-color: purple;
    border-radius: 25px;
    justify-content: flex-end;
    height: 45%;

}

.category{
    font-size: 16px;
    margin-left: 5%;
}

@media screen and (min-width: 1300px) {
    .category {
        font-size: 25px; /* Increase font size for larger screens */
    }
}

.cost{
    margin-left: 5%;
    font-size: 25px;
}

@media screen and (min-width: 1300px) {
    .cost {
        font-size: 40px; /* Increase font size for larger screens */
    }
}