@use "@/App";

.home-container {
    section {
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .hero-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

        margin-bottom: 5%;
    }

    .hero-section .left {
        width: 40%;
        flex-grow: 3;
        h1 {
            margin: 0px;
            font-size: 3rem;
        }

        h1 span::after {
            content: "\A";
        }

        p {
            font-size: 1.15rem;
            padding-bottom: 5%;
        }

        a {
            font-size: 1.25rem;
        }
    }

    .hero-section .right {
        width: 50%;
        flex-grow: 5;

        img {
            width: 100%;
        }
    }

    .demo-section {
        text-align: center;
    
        .wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            align-items: stretch;
        }
    }

    .demo-section .left {
        background-color: #aaaaaa;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            padding: 0px;
            margin: 0px;
            margin-right: 2vw;
        }

        li {
            padding: 3vh 1vw;
            margin-bottom: 1vh;
            width: 100%;

            &:last-child {margin-bottom: 0px;}
        }

        li:hover, li.active {
            background-color: #777777;
        }
    }

    .demo-section .right {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .description {
            padding: 5vh 5vw;
        }

        img {
            width: 100%;
        }
    }
}

/*
    Responsivenes...
*/
// TODO: responsiveness for section margins
@media screen {
    @media (max-width: 1280px) {
        .home-container {
            .hero-section {
                .left h1 {
                    font-size: 2.5rem;
                }
    
                .left p {
                    font-size: 1rem;
                }
    
                .left a {
                    font-size: 1rem;
                }
            }
        }
    }

    @media (max-width: 1100px) {
        .home-container {
            section {
                margin-bottom: 7.5%;
            }

            .hero-section {
                .right {
                    display: none;
                }

                .left {
                    margin-left: 20%;
                    margin-right: 20%;
                    text-align: center;

                    h1 {
                        font-size: 3rem;
                    }

                    p {
                        font-size: 1.125rem;
                    }

                    a {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }

    @media (max-width: 900px) {
        .home-container {
            .hero-section {
                .left {
                    margin-left: 10%;
                    margin-right: 10%;
                }
            }
        }
    }

    @media (max-width: 700px) {
        .home-container {
            .hero-section {
                .left {
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }

            .demo-section {
                .wrapper {
                    flex-wrap: wrap;

                    .left {
                        width: 100%;

                        ul {
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}