:root {
    --theme-color: rgba(0, 100, 0, 1);
    --sub-theme-color: white;
}

.body-wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.left-half {
    background-color: var(--theme-color);

    width: 50%;
    height: 100%;
}

.right-half {
    background-color: var(--sub-theme-color);

    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-wrapper {
    width: 60%;
    height: auto;
    margin: 0px;
    padding: 0px;

    text-align: center;
    overflow: hidden;

    h1 {
        margin-top: 0px;
        font-size: 3rem;
    }

    .login-form-field-wrapper {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 5px;

        input {
            width: calc(100% - 15px);
            height: 50px;

            padding: 0px;
            padding-left: 15px;
            margin: 0px;
            border: 0px;
            border-radius: 25px;

            background-color: rgb(240, 240, 240);
            color: black;
        }

        input::placeholder {
            opacity: 1;
            color: black;
        }

        .login-form-icon {
            font-size: 1.5rem;
            position: absolute;
            transform: translateX(-150%) translateY(50%);
        }
    }

    .forgot-your-password {
        text-align: right;
        margin-bottom: 20px;
    }

    .login-button {
        button {
            background-color: var(--theme-color);
            color: var(--sub-theme-color);

            width: 90%;
            height: 40px;

            border: 0px;
            border-radius: 5px;

            margin-bottom: 10px;
        }
    }

    .register-here {
        margin-top: 20px;
        text-align: left;
    }
}
