.popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);

    justify-content: center;
    align-items: center;
}

.popup-background.show {
    display: flex !important;
}

.popup {
    display: block;
    height: 50vh;
    width: 50vw;
    padding: 1%;
    z-index: 1001;
    border-radius: 20px;
    background-color: white;
}