#settings-body{
    display:grid;
    gap: 20px 1px;
    margin-left: calc(var(--sidebar-width));
    width: calc(100vw - var(--sidebar-width));
    background-color: rgb(235, 242, 233);
}

.settings-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin: 0 3% 0 3%;
}

#settings-body > h1{
    margin-left: 3%;
    font-size: 2rem;
}

.settings-container > h2 {
    margin-left: 3%;
    font-size: 1.6rem;
}

.settings-option{
    display:flex;
    flex-direction:row;
    align-items:first baseline;
    justify-content: space-between;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 1px solid rgb(203, 208, 205);
}

.subtext{
    font-size: 0.9rem;
}

.settings-option-pair > h3{
    font-size: 1.2rem;
}

#settings-color-form{
    display: none;
}

.settings-button{
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    display:block;
}

#change-email-button{
    display: block;

}

.settings-input{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.settings-form {
    display: none;
}

.settings-pair{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings-email-input{
    margin-left: 20px;
    margin-bottom: 3%;
}

.settings-submit-btn{
    margin-top: 3%;
    margin-bottom: 5%;
    border: none;
    padding: 5px 7px;
    border-radius: 10px;
    cursor: pointer;
    width: 70px;
    background-color: rgb(81, 130, 81);
    color: white;
}


.settings-cancel-btn{
    margin-top: 3%;
    margin-bottom: 5%;
    border: none;
    padding: 5px 7px;
    border-radius: 10px;
    cursor: pointer;
    width: 70px;
}

#delete-account-button {
    background-color: #E59191;
}

.settings-submit-btn:hover{
    background-color: rgb(69, 111, 69);
}

.settings-cancel-btn:hover{
    background-color: rgb(193, 193, 193); /* Example background color on hover */
}

#delete-account-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display:none;
}

#delete-account-container{
    background-color: rgb(255, 255, 255);
    grid-row-start: 2;
    width: 40%;
    height:fit-content;
    margin-left: 30%;
    margin-top: 14%;
    border-radius: 15px;
    box-shadow: 1px 2px 1px 1px rgb(206, 205, 205);
    padding-bottom: 15px;
}

#message{
    text-align: center;
    margin: 3% 3% 0 3%;
}