.sidebar{
    display:flex;
    flex-direction: column;
    background-color: rgb(81, 130, 81);
    justify-content: space-between;
    height: 100vh;
}

.option {
    border-radius: 10px;
    padding: 8px 2px;
    border: none;
    margin: 0% 10% 5% 8%;
    text-align: left;
    font-size: 18px;
    display:flex;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .option {
        font-size: 16px; /* Decrease font size for smaller screens */
    }
}

@media screen and (min-width: 1300px) {
    .option {
        font-size: 24px; /* Increase font size for larger screens */
    }
}

.option:hover {
    background-color: rgb(75, 120, 75); /* Example background color on hover */
}

.top-options{
    margin-top: 20%;
}

.option > a{
    text-decoration: none;
    color:white;
    margin-top: 5%;
    margin-left: 7%;
}

.bottom-options{
    align-items: flex-end;
    margin-bottom: 20%;
    
    border-top: 1px solid black;
}

.sidebar-icons > img {
    width: 40px; /* Set the width to 50 pixels */
    height: auto; /* Maintain aspect ratio */
}
