:root {
    --sidebar-width: 15vw;
}

.sidebar-page {
    /*
        This class refers to the section on the right of the sidebar where all the content is.
    */

    margin-left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    min-width: 100vh;
}

.sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: var(--sidebar-width);
    overflow-x: hidden;
    overflow-y: auto;

    background-color: var(--theme-color);

    .top-options {
        margin-top: 20%;
    }

    .bottom-options{
        align-items: flex-end;
        margin-bottom: 5%;
        padding-top: 10%;
        border-top: 1px solid black;
    }
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0% 10% 5% 8%;
    border: 0px;
    padding: 5px 2px;
    border-radius: 10px;
    text-align: left;
    font-size: 1.5rem;
}

.option:hover {
    background-color: rgb(75, 120, 75); /* Example background color on hover */
}

.option > a {
    text-decoration: none;
    color: white;
    margin-left: 7%;
}

.sidebar-icons > img {
    width: 45px; /* Set the width to 50 pixels */
    height: auto; /* Maintain aspect ratio */
}


/* Responsive, make collapsible */
@media screen and (max-width: 600px) {
    .option {
        font-size: 16px; /* Decrease font size for smaller screens */
    }

    .sidebar{
        height: 100%;
    }
}

@media screen and (min-width: 1300px) {
    .option {
        font-size: 24px; /* Increase font size for larger screens */
    }

}