@mixin anchor-button {
  text-decoration: none;
  color: var(--text-color);
  padding: 1vh 1vw;
  margin: 0px;
  border: 0px;
  border-radius: 25px;
}

.primary-btn {
    text-decoration: none;
    color: var(--text-color);
    margin: 0px;
    padding: max(1vh, 5px) max(1vw, 15px);
    border: 0px;
    border-radius: 25px;
    background-color: #518251;

    &:hover {
        background-color: #58A970;
    }
}

/*
.App {
  margin: 0px;

}

.App img {
  position: absolute;
  z-index: -1;

  height: 100vh;
  width: 100vw;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.login-box form {
  backdrop-filter: blur(20px);
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;

  background-color: rgba(0, 255, 0, .4);
}

form h1 {
  padding-bottom: 15px;
  text-align: center;
}

form input {

}

form label {

}

form button {
  margin-top: 25px;
  text-align: center;
}

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/
